html * {
    box-sizing:border-box;
}

header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:10;
    background-color:rgb(226, 255, 230);
}

.map-and-nav-container{
    display:flex;
    align-items:flex-start;
    gap:20px;
    justify-content:center;
    margin: 16px 108px 16px 16px;
}
@media(max-width: 767px){
    .map-and-nav-container{
        flex-direction: column;
        align-items: left;
    }
}

body {
    padding-top:80px;
}

.sagamihara-map{
   width:70%;
   max-width:400px;
   margin:0 auto;
}